@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.kl-admin-container {
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-black-fill;
  }

  font-family: 'Source Sans Pro', sans-serif;
}

.kl-admin-container {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  position: relative;
}

.kl-admin {
  padding: 0 20px;
  min-height: fit-content;
  overflow-y: scroll;
  flex: 1;

  .action-group {
    @include flex-center-ver;
    gap: 10px;

    > .button {
      width: 30px;
      font-size: 14px;
    }
  }
}

.kl-admin-dashboard {
  min-height: fit-content;
}

.pro-sidebar {
  height: 100vh !important;
}

// SIDEBAR
.kl-admin-sidebar {
  display: block !important;

  @include breakpoint-down(tablet) {
    display: none !important;
  }
}

//SIDEBAR RESPONSIVE
.kl-admin-drawer {
  display: none;
  max-width: 100%;
  @include size(375px, 100vh);

  @include breakpoint-down(tablet) {
    display: block;
  }
}

//Header

.kl-header-bugger {
  visibility: hidden;

  @include breakpoint-down(tablet) {
    visibility: visible;
  }
}

.MuiBox-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
  // .css-jv0vcw {
  //   margin-right: 20px !important;
  // }
  // .css-0 {
  //   margin-left: 20px !important;
  // }
  .css-1bukg3w-MuiGrid-root {
    max-height: 100% !important;
  }
  .css-1rr4qq7 {
    max-height: 100% !important;
  }
  .css-16soiyw {
    margin-left: 20px !important;
    max-height: 100% !important;
  }
  .css-dvbve,
  .css-14st18b,
  .css-1b045aq {
    max-height: 250px;
  }
  .css-14st18b,
  .css-1b045aq {
    margin-left: 20px !important;
  }

  .css-1mh3mi2 {
    max-height: 100% !important;
    overflow-y: scroll !important;
  }
}

.css-1kpnj7b-MuiDivider-root {
  border-color: unset !important;
}
.css-1qxadfk-MuiPaper-root-MuiDialog-paper {
  background-color: $white !important;
  min-width: 500px !important;
}

.css-1ol7unp-MuiInputBase-root-MuiInput-root {
  color: $black !important;
  width: 100% !important;
  &::before {
    border-bottom: 1px solid $black !important;
  }
}
