.kl-transaction {
  padding: 50px 150px;

  @include breakpoint-down(phone) {
    padding: 10px;
  }
  > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @include breakpoint-down(phone) {
      font-size: 20px;
    }
  }
  > .container-list {
    border: 1px solid rgba($black, 0.4);
    border-radius: 5px;
    padding: 40px 60px;
    max-height: 565px;
    overflow-y: scroll;
    @include breakpoint-down(phone) {
      padding: 10px 20px;
    }

    > .accordion {
      margin-bottom: 20px;
    }

    > .accordion > .accordion-root > .accordion-summary > .MuiAccordionSummary-content > .label {
      font-weight: 400;
    }
  }

  .wrap {
    @include flex-column;
  }
  .products-temp {
    @include flex-column;
    gap: 30px;
    flex: 1;

    > .user-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .info {
        flex: 1;

        &:nth-child(2) {
          padding: 0 40px;

          @include breakpoint-down(phone) {
            padding-right: 0px;
            padding-left: 20px;
          }
        }
        &:nth-child(3) {
          padding-left: 30px;
        }
      }

      > .first {
        display: flex;
      }

      // > .first > .info {
      //   &:nth-child(2),
      //   &:nth-child(3) {
      //     text-align: center;
      //   }
      // }

      > .second {
        display: flex;
      }

      // > .second > .info {
      //   &:nth-child(2),
      //   &:nth-child(3) {
      //     text-align: center;
      //   }
      // }

      > .third {
        display: flex;
      }

      // > .third > .info {
      //   &:nth-child(2),
      //   &:nth-child(3) {
      //     text-align: center;
      //   }
      // }
    }
  }

  .item-temp {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid $color-light-gray;
    padding-block: 10px;
  }

  .right-empty {
    display: flex;
    gap: 20px;
  }

  .image-temp {
    @include square(60px);
  }

  .info-temp {
    width: 100%;
  }

  .name-temp {
    @include truncate-multiline-new(2);
    font-size: $fs-normal;
    font-weight: $fw-bold;
  }

  .group-temp {
    font-size: $fs-normal;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .price-temp {
    font-weight: $fw-bold;
    margin-left: 14px;
    margin-right: 14px;
  }

  .empty-temp {
    padding-block: 16px;
    font-size: 20px;
    color: $color-success;
    text-align: center;
  }
}
